.section-gold {
  background: #643100;
  color: #ffffff;
}

.section-dark {
  background: #222222;
  color: #ffffff;
}

.section-light {
  background: #ffffff;
  color: #000000;
}

.feature-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 100px;
  max-height: 50vh;
  max-width: 1000px;
  margin: 0 auto;
}

.large-feature {
  max-width: 100%;
  font-size: 2rem;
}

.large-feature p {
  font-size: 1.5rem;
  margin-bottom: 0rem;
  padding-bottom: 1rem;
}

.small-feature {
  max-width: 34%;
  font-size: 1.5rem;
}

.small-feature p {
  font-size: 1rem;
}
